.container {
  /* display: flex; */
  /* background-color: rgb(34, 236, 125); */
  /* color: beige; */
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.percentage {
  font-size: 15px;
  font-weight: 600;

  color: rgb(152, 150, 248);
}

.list {
  display: flex;
  justify-content: center;
}
.header {
  color: rgb(129, 129, 129);
  font-size: 30px;
  font-weight: 800;
}
.section {
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  box-sizing: content-box;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}
